body, html{
    height: 100% ;
}

.no-gutters{
    padding: 0 auto;
    margin: 0 auto;
}

.hero-image {
    width: 100vw;
    height: 100vh;
    
    /* Flexbox stuff */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Text styles */
    text-align: center;
    color: white;
    
    /* Background styles */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url('https://instagram.faep6-1.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/148165352_422970348932359_3052268432073142502_n.jpg?tp=1&_nc_ht=instagram.faep6-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=XSmq3Xb5d3gAX-aHyMX&ccb=7-4&oh=bb2da3b6c6e4d1e45bb8e4898391af77&oe=607BD122');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  /* Place text in the middle of the image */
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

  h1{
    font-family: 'Clicker Script', cursive;
    font-size: 8rem;
  }

  .container-arrow {
   //background: PaleGoldenRod  ;
    height: 100vh;
    padding: 20px;
    text-align: center;
  }
  
  .content {
    position: absolute;
    left: 50%;
    top: 80%;
      transform: translate(-50%, -50%);
    
    p {
      margin: 0 0 20px;
    }
    
  }
  
  /* Arrow & Hover Animation */
  #more-arrows {
      width: 75px;
    height: 65px;
    
    &:hover {
      
      polygon {
        fill: #FFF;
        transition: all .2s ease-out;
  
        &.arrow-bottom {
          transform: translateY(-18px);
        }
  
        &.arrow-top {
          transform: translateY(18px);
        }
        
      }
    
    }
    
  }
  
  polygon {
    fill: #FFF;
    transition: all .2s ease-out;
      
    &.arrow-middle {
        opacity: 0.75;
      }
  
      &.arrow-top {
        opacity: 0.5
      }
       
  }

  /* Cuenta regresiva */
  .clock-section{
    //margin-top: 100px;
    padding-top: 50px ;
    padding-bottom: 50px;
    background-color: #6b705c;
  }

.clock-title-top{
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}

.clock-title-bottom{
  margin-top: 20px;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}

 .clock{
  font-family: 'Poppins', sans-serif;
   margin-top: 10px;
   font-size: 2rem;
 }

   /* Cuenta regresiva */

  .section-fiesta{
      margin-top: 100px;
      padding-left: 150px;
      padding-right: 150px;
      font-family: 'Poppins', sans-serif;
  }


//Botones

.round {
  border-radius: 24px;
}

//Botones


  /* Cuenta regresiva */

  /* Cards */

 .card-title{
  font-weight: 900;
 }
.card-text{
  font-family: 'Poppins', sans-serif;
}
  .card-img-top-church{
    height: 100px;
    width: 100px;
}

  .card-img-top-cheers{
    height: 100px;
    width: 100px;
  }

  .card{
      border: none;
  }

 /* Cards */

  //Fotos
  .title-gallery{
    font-family: 'Poppins', sans-serif;
  }

  img{
      max-width: 100%;
  }
  .gallery{
      //background-color: #dbddf1;
      padding: 80ps, 0;
      margin-top: 200px;
  }

  .gallery img{
      background-color: #ffffff;
      padding: 15px;
      width: 100%;
      box-shadow: 0 0 15px rgba(0,0,0,0.3);
      cursor: pointer;
  }
 

  #gallery-modal .modal-img{
    width: 100%;

  }
  //Fotos

  // Regalos
.gift-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #6b705c;
  padding-bottom: 100px;
  padding-top: 100px;
  font-family: 'Poppins', sans-serif;
    p{
      font-size: 1.3rem;
      margin-bottom: 55px;
    }
}

.gift-icon{
 
  height: 200px;
  width: 200px;
  font-size: 5.5rem;
  margin-bottom: 20px;
  color: #ffffff;
}
  //Regalos