body, html {
  height: 100%;
}

.no-gutters {
  padding: 0 auto;
  margin: 0 auto;
}

.hero-image {
  width: 100vw;
  height: 100vh;
  /* Flexbox stuff */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Text styles */
  text-align: center;
  color: white;
  /* Background styles */
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.5))), url("https://instagram.faep6-1.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/148165352_422970348932359_3052268432073142502_n.jpg?tp=1&_nc_ht=instagram.faep6-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=XSmq3Xb5d3gAX-aHyMX&ccb=7-4&oh=bb2da3b6c6e4d1e45bb8e4898391af77&oe=607BD122");
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://instagram.faep6-1.fna.fbcdn.net/v/t51.2885-15/e35/s1080x1080/148165352_422970348932359_3052268432073142502_n.jpg?tp=1&_nc_ht=instagram.faep6-1.fna.fbcdn.net&_nc_cat=107&_nc_ohc=XSmq3Xb5d3gAX-aHyMX&ccb=7-4&oh=bb2da3b6c6e4d1e45bb8e4898391af77&oe=607BD122");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
}

h1 {
  font-family: 'Clicker Script', cursive;
  font-size: 8rem;
}

.container-arrow {
  height: 100vh;
  padding: 20px;
  text-align: center;
}

.content {
  position: absolute;
  left: 50%;
  top: 80%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.content p {
  margin: 0 0 20px;
}

/* Arrow & Hover Animation */
#more-arrows {
  width: 75px;
  height: 65px;
}

#more-arrows:hover polygon {
  fill: #FFF;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

#more-arrows:hover polygon.arrow-bottom {
  -webkit-transform: translateY(-18px);
          transform: translateY(-18px);
}

#more-arrows:hover polygon.arrow-top {
  -webkit-transform: translateY(18px);
          transform: translateY(18px);
}

polygon {
  fill: #FFF;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
}

polygon.arrow-middle {
  opacity: 0.75;
}

polygon.arrow-top {
  opacity: 0.5;
}

/* Cuenta regresiva */
#reloj {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 100px;
}

.section-fiesta {
  margin-top: 100px;
  padding-left: 150px;
  padding-right: 150px;
}

.card-img-top-church {
  height: 100px;
  width: 100px;
}

.card-img-top-cheers {
  height: 100px;
  width: 100px;
}

.card {
  border: none;
}

img {
  max-width: 100%;
}

.gallery {
  padding: 80ps, 0;
  margin-top: 200px;
}

.gallery img {
  background-color: #ffffff;
  padding: 15px;
  width: 100%;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

#gallery-modal .modal-img {
  width: 100%;
}
/*# sourceMappingURL=styles.css.map */